@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&display=swap');

#home{
    background-image: /* top, transparent red */
    linear-gradient(
      rgba(9, 9, 9, 0.6), 
      rgba(9, 9, 9, 0.6)
    ), url("/images/home.jpg");
    width: 100%;
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

p{
    font-family: 'Roboto', sans-serif;
}
.title{
    font-family: 'Ubuntu', sans-serif;
    font-size: 6vw;
    font-weight: 100;
    color: #fff;
}

#subtitle{
    font-family: 'Roboto', sans-serif;
    font-size: 3vw;
}

h1{
    font-family: 'Ubuntu', sans-serif;
}
#desc {
    padding: 50px 50px 50px 50px;
}
p a{
    color: #F7410A;
    text-decoration: none;
}
p a :hover{
    color: #F7410A;
}
li a{
    text-decoration: none;
    color: #F7410A;
}

li a :hover{
    color: #F7410A;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus,
.btn-outline-light,
.btn-outline-light:hover {
    background-color: #F7410A !important;
    border-color: #F7410A;
}

nav{
    background-color: black;
    
}
.nav-link {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-decoration: none;
}

.nav-link:hover{
    color: #F7410A;
}


.navbar-brand {
    color: #F7410A;
    font-size: x-large;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
}

.navbar-brand:hover{
    color: #F7410A;
}
#copyright:hover{
    color: #F7410A;
    text-decoration: none;
}

span{
    color: #F7410A;
    font-weight: bold;
}