@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&display=swap');

#home{
    background-image: url("/images/home.jpg");
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
p{
    font-family: 'Roboto', sans-serif;
}
#title{
    font-family: 'Ubuntu', sans-serif;
    font-size: 70px;
    color: black;
}

#subtitle{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}

h1{
    font-family: 'Ubuntu', sans-serif;
}
#desc {
    padding: 50px 50px 50px 50px;
}
p a{
    color: #F7410A;
    text-decoration: none;
}
p a :hover{
    color: #F7410A;
}
li a{
    text-decoration: none;
    color: #F7410A;
}

li a :hover{
    color: #F7410A;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #F7410A !important;
    border-color: #F7410A;
}